<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   	<meta http-equiv="content-language" content="es" />
 	
	<title>Paseo de la historieta</title>
	<link href="../css/canvas.css" media="screen,print" type="text/css" rel="stylesheet" />
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../js/jquery-1.7.2.min.js"><\/script>')</script>
	<script type="text/javascript" src="../js/canvas.js"></script>
	
	#meta#
    
    <style>
    #share {top:10px;left:210px;}
    #eventos {position: absolute;top: 154px;left: 137px;width:700px;height:500px;}
    #inaguracion {top: 139px;left: 143px;}
	body {background: #8cc63f;}
    #pajarito {top: 44px;left: 324px;}
    </style>
</head>
<body>

<div id="gallery">
	<div id="slider">
		<div class="slide"><img id="f1" src="../images/fondos/fondo11.png" width="960" height="770"/></div>
	</div>

	<!-- Elementos fijos -->
	<div id="menu">
		<a id="m_home" 		href="controller.php"></a>
		<a id="m_menu" 		href="javascript:void(0)"></a>
		<a id="m_foto" 		href="controller.php?op=goFoto"></a>
		<a id="m_wallpaper" href="controller.php?op=goWallpaper"></a>
		<a id="m_contacto" 	href="controller.php?op=goContacto"></a>
		<a id="m_autores" 	href="controller.php?op=goAutores"></a>
		<a id="m_museo" 	href="controller.php?op=goMuseo"></a>
	</div>
	<a id="mapa" href="controller.php?op=goMapa"><img src="../images/mapa.png"/></a>
	<div id="share"><img src="../images/share.png"/>
		<a id="tweet" href="javascript:void(0)" onclick="twt_click()"><img src="../images/transparent.png"/></a>
		<a id="fb" href="javascript:void(0)" onclick="fb_click()"><img src="../images/transparent.png"/></a>
	</div>	
	<a id="pajarito" href="javascript:void(0)">
		<img id="globa_pajarito" src="../images/globa_trivia.png"/>
		<img id="vuelo" src="../images/pajarito-animado.gif"/>
	</a>



	<div id="eventos"><img src="../images/inauguraciones.png" /></div>	
	
</div>

</body>
</html>