@CHARSET "UTF-8";

@font-face {
    font-family: 'KiComicRegular';
    src: url('../fonts/kicomic_-webfont.eot');
    src: url('../fonts/kicomic_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kicomic_-webfont.woff') format('woff'),
         url('../fonts/kicomic_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.ocultar {display:none;}
body {font:11pt KiComicRegular,Arial,Helvetica;background: #56C3CE;text-align:center;margin:0px;}
a, a:link, a:active, a:hover, a:visited, a img {border:none;}
#menu {position:absolute; top: -14px;left: 42px;width: 150px;height: 157px;overflow:hidden;z-index:10;background:url(../images/menu.png);}

/* todos los sub-items */
#menu a {float:left;width: 109px;height:33px;z-index:3;margin-left:31px;width: 111px;}
#menu a:hover {background:#888;opacity:0.4;filter:alpha(opacity=40);}

/* Home */
#menu #m_home {margin-left: 24px;margin-top: 0px;height: 125px;width: 123px;} 

/* Abrir menu */
#menu #m_menu {margin-left: 26px;margin-top: 0px;height: 32px;width: 118px;} 

#mapa {position: absolute;
top: 537px;
left: -4px;
width: 35px;
height: 96px;}
#mapa:hover {padding:5px;}

#texto_home {position: absolute;top: 156px;left: 90px;}
#inaguracion {position:absolute;top: 559px;left: 790px;width: 170px;height: 170px;z-index:2;}
#inaguracion:hover {padding:5px;}
#paseo {position:absolute;top: 266px;left: 559px;}

#pajarito {position:absolute;top: 96px;left:542px;cursor: pointer;width:180px;height:150px;}
#globa_pajarito {position:absolute;top:0px;left:39px;z-index:2;}
#pajarito #vuelo {position:absolute;top:62px;left:0px;}

#globa_personaje {position:absolute;top: 120px;left: 118px; display:none;}
#personaje {position:absolute;top: 270px;left: 170px;width: 100px;height: 37px;cursor: pointer;}

#ant {position:absolute;top:473px;left:121px;cursor:pointer;text-align:center;}
#sig {position:absolute;top:473px;left:514px;cursor:pointer;text-align:center;}
#ant img, #sig img {margin:auto;}

#share {position:absolute; top: 593px; left: 602px;}
#share img {width: 120px;}
#tweet {position:absolute;top: 10px;left: 12px; z-index: 2;}
#fb {position:absolute;top: 10px;left: 64px;z-index: 2;}
#tweet img, #fb img {width: 43px;}

#gallery {margin:auto;padding:0px;position:relative;width:960px;height:770px;overflow:hidden;}
#slider {height: 770px;width:960px;overflow:hidden;}
.slide {float:left;height:770px;width:960px;overflow:hidden;}


#popup {position: absolute;top: 193px;left: 254px;font:12pt KiComicRegular;z-index:25;
width:500px;height:300px;text-align:left;background: url(../images/marconegroyblanco.png);
-moz-background-size:500px 300px; -webkit-background-size:500px 300px; background-size:500px 300px;}
	#popup h2 {color:red;}
	#popup div {padding:15px;}
	#popup #acciones img {margin-left:240px;}
	#curtain {width:100%;height:100%;position:absolute;top:0px;left:0px;background:#000;z-index:24;}
	
	